<div class="container-fluid">
	<div class="row">

		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="box-heading">About the Project</div>
				<div class="panel-body">
					<p><em>Fanco</em> is a fictional company based in Boston that sells hand-held self-misting fans.
						<br>The purpose of this web-app is to visualize annual sales history data
						with correlations to seasonal weather.
						<br>Additionaly, a live weather api is utilized to provide up-to-date forecast info for sellers in the field.
					</p>
					<p>This project was assigned to our team by IBM as our final Hackathon project at
						<a href="http://www.elevationacademy.co/program/coding/"><strong><em>Elevation Academy</em></strong></a>'s Coding Bootcamp.
					</p>
					<p>A year of sales history was presented in the form of csv/excel files, and we were tasked with
						manipulating and visualizing the total sales data using the <em>D3.js</em> charting library.
						The visualizations were then to be added to a full stack <em>SPA</em> via AngularJS custom directives.
					</p>
					<p>Additional tasks included:</p>
					<ul>
						<li>Visualizing live weather forecast Data from an api</li>
						<li>Creating visualizations to provide alternate views and insights into the data</li>
						<li>Leveraging the <em>Twilio</em> messaging app to provide custom updates for sellers in the field</li>
					</ul>
					<p>All tasks were completed succesfully in the week allotted.</p>
					<p>The main challenge in the project was learning new technologies from scratch (D3, Twilio, custom directive integration).</p>
					<p>By separating out tasks and working together we got it all done and had a great time too!</p>
					<p>The project github repo can be found here:
						<a href="https://github.com/benjkn/Hackathon_task-FanCo" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
					</p>
					<p>Individual team member info can be found to the right.</p>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="box-heading">Martha Bernal</div>
				<div class="panel-body text-center">
					<img src="img/about-pics/martha.jpg" class="img-responsive center-block">
					<div class="icons">
						<a href="https://github.com/maitabe" target="_blank"><i class="fa fa-github fa-4x" aria-hidden="true"></i></a>
						<a href="https://www.linkedin.com/in/marthaebernal/" target="_blank"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
						<a href="mailto:katzy687@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>

		<!--<div class="row">-->
			<div class="col-md-3 ">
				<div class="panel panel-default">
					<div class="box-heading">Ben Kapon</div>
					<div class="panel-body text-center">
						<img src="img/about-pics/ben.jpg" class="img-responsive center-block">
						<div class="icons">
							<a href="https://github.com/benjkn" target="_blank"><i class="fa fa-github fa-4x" aria-hidden="true"></i></a>
							<a href="https://il.linkedin.com/in/ben-kapon-683332119" target="_blank"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
							<a href="mailto:Benj.kn@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>

			<!--<div class="row">-->
				<div class="col-md-3 col-md-offset-9">
					<div class="panel panel-default">
						<div class="box-heading">Natti Katz</div>
						<div class="panel-body text-center">
							<img src="img/about-pics/natti.jpg" class="img-responsive center-block">
							<div class="icons">
								<a href="https://github.com/katzy687" target="_blank"><i class="fa fa-github fa-4x" aria-hidden="true"></i></a>
								<a href="https://www.linkedin.com/in/nathaniel-katz-a50b1488/" target="_blank"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
								<a href="mailto:katzy687@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>