<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-body">

		<div class="graph">
			<h3>Boston Weather Forecast - 15 days</h3>
			</div>


			<forecast-chart></forecast-chart>
			<p class="provided-text">Live data provided by OpenWeatherMap</p>
		</div>


	</div>


	<div class="panel panel-default">
		<div class="panel-body">
			<div class="panel graph ">
				<h3> Weekly Weather Notifications </h3>
			  <p ng-repeat="x in info track by $index"> On <strong>{{x.date}}</strong> the weather will be <strong>{{x.weather}}</strong></p>

			</div>
		</div>
	</div>
</div>