<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-body">


		<div class="panel panel-default">
				<div class="box-heading">Boston Weather Forecast - 15 days</div>

			</div>


			<forecast-chart></forecast-chart>
			<p class="provided-text">Live data provided by <em>OpenWeatherMap,</em> last updated on <strong>{{today}}</strong></p>
		</div>

	</div>

	<div class="row">
		<div class="panel panel-default">
		<div class="panel-body">

			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="box-heading">Weekly weather notifications </div>
						<div class="panel-body">
							<div class="panel">

							  <p ng-repeat="x in info track by $index"> On <strong>{{x.date}}</strong> the weather will be <strong>{{x.weather}}</strong></p>
							</div>
						</div>
					</div>
				</div>


				<div class="col-sm-6">
	    <div class="panel panel-default">
	        <div class="box-heading">SMS Alerts</div>
		        <div class="panel-body">
		        	<div class="panel">
		        		<form ng-submit="addPhone()">
								  <h4>Get text message alerts based on temperature changes</h4>

								  <div class="form-group">
								    <input type="text" class="form-control" placeholder="User Name" ng-model="name"></input>
								  </div>

								  <div class="form-group">
								    <input type="text" class="form-control" placeholder="Phone Number" ng-model="phone"></input>
								  </div>

								  <button type="submit" class="btn btn-primary">Add phone number</button>
								</form>

								<p></p>

		        	</div>
		        </div>
	     </div>
		</div>
		</div>
		</div>




	</div>

</div>


