<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="graph">
				<h3>Here will be the graph</h3>
			</div>
			<div>
				The graph's data will be for: <strong>{{options.prods}}</strong>sold through <strong>{{options.channel}}</strong>, in the following neighborhoods: <strong>{{options.neighborhoods}}</strong> for the following dates: <strong>{{options.dates}}</strong>.
			</div>
			<div>

				<div linear-chart chart-data="salesData"></div>

			</div>
		</div>
	</div>
</div>