
<div ng-controller='MainCtrl'>
  <div id="cm-menu">
    <nav class="cm-navbar cm-navbar-turquoise leftmenu">
      <div ui-sref="login" class="topnav">FanCo</div>
      <div></div>
      <div ng-hide=true class="btn btn-turquoise md-menu-white" data-toggle="cm-menu"></div>
    </nav>

    <div id="cm-menu-content" ng-controller="MainCtrl">
      <div id="cm-menu-items-wrapper">
        <div id="cm-menu-scroller">
          <ul class="cm-menu-items nav">
            <li><a ui-sref=".totalSales">Total Sales</a></li>
            <p class="filter">Filter view by:</p>
            <li> <a ui-sref=".byProduct"><i class="fa fa-pie-chart" aria-hidden="true"></i> Products</a></li>
            <li> <a ui-sref=".byChannel"><i class="fa fa-truck" aria-hidden="true"></i>  Channel</a></li>
            <li><a ui-sref=".byNeighborhood"><i class="fa fa-map-marker" aria-hidden="true"></i> Neighborhood</a></li>
            <li ng-hide=true><a ng-Click=(show4=!show4)><i class="fa fa-calendar" aria-hidden="true"></i> Custom Dates</a>

              <ul id="myDropdown" ng-show=show4 class="dropdown-content" >
                <li>
                <!-- <input type="radio" name="dates" class="datesPick" ng-click="pickDate()" checked> Custom </input> -->
                <a class="datesPick" ng-click=pickDate('Custom')> Custom </a>
                  <form ng-show=showmode ng-submit="getDateDetails(fromDate, toDate)">
                    <div>
                      From: <input type="date" ng-model="fromDate">
                    </div>
                    <div>
                      To: <input type="date" ng-model="toDate">
                    </div>
                    <div>
                      <input type="submit" Value="Go!">
                    </div>
                  </form>
                </li>
                <li>
                  <a class="datesPick" ng-click=pickDate('All')> All </a>
                  <!-- <input type="radio" name="dates" class="datesPick" ng-click="pickDate()"> All </input> -->
                </li>
              </ul>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <header id="cm-header">
    <nav class="navbar navbar-default" id="orizontalnav">
      <div class="btn btn-turquoise md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>


      <div class="cm-navbar">
        <ul id="navlist">
          <li class="topnav"><a class="hiThere" ui-sref=".about"> About </a></li>
          <li class="topnav"><a class="hiThere" ui-sref=".totalSales"> Sales </a></li>
          <li class="topnav"><a class="hiThere" ui-sref=".forecast"> Forecast </a></li>
        </ul>
      </div>

      <div class="dropdown pull-right">
        <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
        <!--      Uncomment if we add users
          <ul class="dropdown-menu">
            <li class="disabled text-center">
              <strong>John Smith</strong>
            </li>
            <li>
              <a href="#">Profile</a>
            </li>
            <li>
              <a href="#">Settings</a>
            </li>
            <li>
              Sign out
            </li>
          </ul> -->
      </div>
    </nav>
  </header>

<ui-view></ui-view>

  <!-- <footer class="cm-footer"><span class="pull-right">&copy; Martha, Nati and Ben dream-team</span></footer> -->

</div>

