.container-fluid {
	padding: 80px 50px;
}

#navlist {
	list-style-type: none;
	font-size: 25px;
	margin: auto;
}

ul#navlist {
    padding-left: 45px;
    padding-top: 4px;
}

#navlist li {
	display: inline;
	margin-right: 15px;
	color: white;
}

#orizontalnav {
	height:50.5px;
	    background-color: #148f77;
    border-color: #0f705d;
}

nav.cm-navbar.cm-navbar-turquoise.leftmenu {
    background-color: #148f77;
    border-color: #0f705d;
    font-size: 16px;
}

.topnav {
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
}

.topnav a {
  text-decoration: none;
  color: white;
}

.topnav a:hover {
  text-decoration: none;
  /*color: #1abc9c;*/
  color:   #aaaaaa;
}

.topnav a:active {
  text-decoration: none;
  color: white;
  /*background-color: #1abc9c;*/
}

.topnav a:focus {
  text-decoration: none;
  color: #eee;
  /*background-color: #1abc9c;*/
}

.hiThere {
  margin: auto;
}

.dropdown.pull-right {
    display: none;
}

.btn.btn-turquoise.md-menu-white.hidden-md.hidden-lg {
    margin-bottom: -31px;
    margin-left: 7px;
        background-color: transparent;
    border: 1px solid transparent;
}

.graph h3 {
    font-family: 'Oswald',sans-serif!important;
    font-size: 30px;
    color: #ffac4d;
    font-weight: bolder;
}
.graph h4 {
    font-family: 'Oswald',sans-serif!important;
    font-size: 20px;
    color: #ffac4d;
    font-weight: bolder;
}

.box-heading {
    font-size: 19px;
    color: #ffac4d;
    font-weight: bolder;
    background: #fff;
    text-align: center;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.provided-text {
  color: #999;
}

ul#myDropdown input {
    margin: 4px 10px 0;
}

@media (max-width: 900px) {

   body a.hiThere {
    line-height: 12px;
  }

  ul#navlist {
    padding-left: 45px;
    padding-bottom: 14px;
  }

  .button {
    width: 20%;
    font-size: 1em;
  }
  .modebtn {
    width: 17%;
    font-size: .9em;
  }
}


/*D3 graph stuff!*/


/*path {
  stroke: steelblue;
  fill: none;
  stroke-width: 1.5px;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 70px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.axis text {
  font: 12px sans-serif;
}

.modeContainer {
  margin: 0 auto;
  text-align: center;
}

.modebtn {
    color: grey;
    width: 10%;
    height: 45px;
    font-size: 1.1em;
    font-family: 'Montserrat';
    text-transform: uppercase;
    background-color:transparent;
    letter-spacing: .08em;
    border-radius: 8px;
    outline: none;
    border: 1px solid grey;
    margin-left: 5px;
    margin-right: 5px;
}

.modebtn:hover {
  border: 2px solid grey;
}

.modebtn:active {
  border: 3px solid grey;
}

.modeContainer a {
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px;
}

@charset "utf-8";


@import url//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);



div.main{
    background: #0264d6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {

    color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

i.fa.fa-truck {
    margin-right: 6px;
}

i.fa.fa-map-marker {
    margin-right: 6px;
}

i.fa.fa-calendar{
    margin-right: 6px;
}

.filter {
      margin-left: 24px;
      color: #777;
}

/* ---------- LOGIN ---------- */

#login form{
  width: 250px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
border-right:1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}
.logo{
color:#fff;
font-size:50px;
  line-height: 125px;
}

#login form span.fa {
  background-color: #fff;
  border-radius: 3px 0px 0px 3px;
  color: #000;
  display: block;
  float: left;
  height: 50px;
    font-size:24px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}
#login form input[type="text"], input[type="password"] {
  background-color: #fff;
  border-radius: 0px 3px 3px 0px;
  color: #000;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 200px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
}

#login form input[type="submit"]:hover {
  background-color: #d44179;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}
.middle {
  display: flex;
  width: 600px;
}

div.sentence {
    color: white;
    margin-left: 300px;
    margin-top: 53px;
    cursor: pointer;
    font-size: 18px;
}

.topnav-right-side {
  /*float: right;*/
}